{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
            GT Movies Store is a full-stack Django web application that lets users
            explore, search, and purchase movies online.
            The platform includes account registration, secure login, and a shopping cart
            system for managing movie orders.
            Users can also create, edit, and delete reviews to share feedback and help
            others make informed decisions.
            Built with the Django framework and a SQLite database, GT Movies Store delivers a
            responsive, user-friendly interface
            with detailed movie pages that include title, description, price, and images.
            The project demonstrates how Python,
            Django’s MVT architecture, and database integration come together
            to create a modern e-commerce experience.
        </p>
        <p>
          Discover the convenience of our digital platform,
          where you have the flexibility to watch movies
          on your preferred device, whether it's a smart
          TV, tablet, or smartphone. With our intuitive
          search and recommendation features, finding your
          next movie night pick has never been easier.
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}"
             class="max-width-100"
             alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}